In [2]:
def readData(dataPath):
    dataFile = open(dataPath)
    dataStr = dataFile.read()
    dataList = dataStr.splitlines()
    return dataList

orderItemsPath = 'data/retail_db/order_items/part-00000'
orderItems = readData(orderItemsPath)

orderItems[:10]

['1,1,957,1,299.98,299.98',
 '2,2,1073,1,199.99,199.99',
 '3,2,502,5,250.0,50.0',
 '4,2,403,1,129.99,129.99',
 '5,4,897,2,49.98,24.99',
 '6,4,365,5,299.95,59.99',
 '7,4,502,3,150.0,50.0',
 '8,4,1014,4,199.92,49.98',
 '9,5,957,1,299.98,299.98',
 '10,5,365,5,299.95,59.99']

In [25]:
import itertools as it
#help(it)
#(2, [(2,'2,2,1073,1,199.99,199.99'),(2,'2,2,1073,1,199.99,199.99'),(2,'2,2,1073,1,199.99,199.99')])

orderItems.sort(key=lambda o:int(o.split(',')[1]))
orderItems[:10]

orderItemsGroupByOrderId = it.groupby(orderItems, key=lambda o:int(o.split(',')[1]))

#revenuePerOrder = map(lambda t:sum(map(lambda a: float(a[1].split(',')[4]),t[1])),orderItemsGroupByOrderId)
revenuePerOrder = map(lambda orderItems:
                      (orderItems[0], sum(map(lambda oi:
                                              float(oi.split(',')[4]),orderItems[1]
                                             )
                                         )
                      ),
                      orderItemsGroupByOrderId)

list(revenuePerOrder)[:10]
#t = (2, [(2,'2,2,1073,1,199.99,199.99'),(2,'2,2,1073,1,199.99,199.99'),(2,'2,2,1073,1,199.99,199.99')])

#sum(map(lambda a: float(a[1].split(',')[4]),t[1]))

[(1, 299.98),
 (2, 579.98),
 (4, 699.85),
 (5, 1129.8600000000001),
 (7, 579.9200000000001),
 (8, 729.8399999999999),
 (9, 599.96),
 (10, 651.9200000000001),
 (11, 919.79),
 (12, 1299.8700000000001)]

In [11]:
import pandas as pd

#help(pd.read_csv)

orderItemsPath = 'data/retail_db/order_items/part-00000'

orderItems = pd.read_csv(orderItemsPath, header = None, names=["order_item_id","order_item_order_id","order_item_product_id","order_item_quantity", "order_item_subtotal","order_item_product_price"])

orderItems

orderItems[['order_item_id', 'order_item_subtotal']]

orderItems.groupby('order_item_order_id')['order_item_subtotal'].sum()

order_item_order_id
1         299.98
2         579.98
4         699.85
5        1129.86
7         579.92
8         729.84
9         599.96
10        651.92
11        919.79
12       1299.87
13        127.96
14        549.94
15        925.91
16        419.93
17        694.84
18        449.96
19        699.96
20        879.86
21        372.91
23        299.98
24        829.97
25        399.98
27        749.97
28       1159.90
29       1109.85
30        100.00
31        499.95
33        659.89
34        299.98
35        129.99
          ...
68842     789.88
68843    1759.89
68844     829.97
68845     549.96
68847     599.93
68848    2399.96
68851    1439.95
68852     200.00
68855     199.99
68856     129.99
68858    2839.91
68859    2349.89
68860     509.84
68861     639.95
68862    1659.92
68863     869.89
68865     399.98
68866     279.97
68868     429.96
68869    1229.97
68870     479.92
68871     499.98
68873     859.91
68875    2399.95
68878     739.93
68879    1259.97
68880     999.77
68881     129.99
68882     109.99
68883    2149.99
Name: order_item_subtotal, Length: 57431, dtype: float64