# FOR LOOPS (LISTS, TUPLES AND DICTIONARIES)

for loops iterate over elements from a sequence (list, tuple or dictionary)
Outputs all the elements from the sequence

In [1]:
for cake in range(0,11,2):
    print(cake)

0
2
4
6
8
10

In [2]:
for greeting in range(4):
    print("Hello world")

Hello world
Hello world
Hello world
Hello world

In [3]:
cats = ["tiger","lion","jaguar","leopard"]

for cat in cats: 
    print(cat)

tiger
lion
jaguar
leopard

In [4]:
for num in range(4):
    print(num,num+30)

0 30
1 31
2 32
3 33

In [5]:
for num in range(4):
    print(num,num+30, num*num)

0 30 0
1 31 1
2 32 4
3 33 9

In [7]:
nest1 = [[10,20,30],[3.5,4.5,5.5],["sword","hammer","shield"]]

for i in range(3):
    print(nest1[i])

[10, 20, 30]
[3.5, 4.5, 5.5]
['sword', 'hammer', 'shield']

In [8]:
for i in range(3):
    print(i)

0
1
2

In [10]:
for i in range(3):
    res = nest1[0][i] + nest1[1][i]
    
    print(nest1[2][i].capitalize() + ": Power level =",res)

Sword: Power level = 13.5
Hammer: Power level = 24.5
Shield: Power level = 35.5

In [14]:
weapons = []

for i in range(3):
    s = nest1[2][i].capitalize() + ": Power level = " + str(nest1[0][i] + nest1[1][i])
    weapons.append(s)
    
weapons
weapons[2]

'Shield: Power level = 35.5'

In [18]:
for i in range(1,8):
    print("{} * {} = {}".format(i,i,(i*i)))

1 * 1 = 1
2 * 2 = 4
3 * 3 = 9
4 * 4 = 16
5 * 5 = 25
6 * 6 = 36
7 * 7 = 49

In [19]:
for k in range(1,8):
    print("%d * %d = %d" %(k,k,(k*k)))

1 * 1 = 1
2 * 2 = 4
3 * 3 = 9
4 * 4 = 16
5 * 5 = 25
6 * 6 = 36
7 * 7 = 49

In [21]:
for k in range(1,8):
    print("%f * %f = %f" %(k,k,(k*k)))

1.000000 * 1.000000 = 1.000000
2.000000 * 2.000000 = 4.000000
3.000000 * 3.000000 = 9.000000
4.000000 * 4.000000 = 16.000000
5.000000 * 5.000000 = 25.000000
6.000000 * 6.000000 = 36.000000
7.000000 * 7.000000 = 49.000000

In [22]:
tup1 = ((10,20),("a","b"),(200,400))
# TUPLE UNPACKING
for x,y in tup1:
    print(x,y)

10 20
a b
200 400

In [24]:
tup1 = ((10,20,30),("a","b","c"),(200,400,500))
# TUPLE UNPACKING
for x,y,z in tup1:
    print(x,y,z)

10 20 30
a b c
200 400 500

In [26]:
tup1 = ((10,20,30),("a","b","c"),(200,400,500))
# TUPLE UNPACKING
for i in range(2):
    for x,y,z in tup1:
        print(x,y,z)

10 20 30
a b c
200 400 500
10 20 30
a b c
200 400 500

In [28]:
cakes = ["chocolate","lemon","carrot","vanilla"]

d1 = {"k1": tuple(cakes), "k2":[10,20,30,40]}
d1
d1["k1"]

('chocolate', 'lemon', 'carrot', 'vanilla')

In [29]:
for d in d1["k1"]:
    print(d)

chocolate
lemon
carrot
vanilla

In [30]:
for x in d1: 
    for i in range(4):
        print(x,":",d1[x][i])

k1 : chocolate
k1 : lemon
k1 : carrot
k1 : vanilla
k2 : 10
k2 : 20
k2 : 30
k2 : 40

In [32]:
cats
endangered = ["series", "critical", "very critical", "stable"]

for c in range(4):
    print(cats[c].capitalize(), "\n Level: \n", endangered[c].upper())

Tiger
 Level:
 SERIES
Lion
 Level:
 CRITICAL
Jaguar
 Level:
 VERY CRITICAL
Leopard
 Level:
 STABLE