# ZIP AND ENUMERATE

## ZIP
    
    zip can combine elements from two or more lists into nested tuples
    
## ENUMERATE
    
    enumerate can generate an integer number next to each output
    
## BOTH CAN BE EASILY REPLACED

In [1]:
for i in range(10,40,5):
    print(i)

10
15
20
25
30
35

In [3]:
for count,i in enumerate(range(10,40,5)):
    print(count,i)

0 10
1 15
2 20
3 25
4 30
5 35

In [4]:
for count,i in enumerate(range(10,40,5),200):
    print(count,i)

200 10
201 15
202 20
203 25
204 30
205 35

In [5]:
for i in range(10,40,5):
    print(190+i,i)

200 10
205 15
210 20
215 25
220 30
225 35

In [6]:
tup1 = (33,49,55)
mylist= [10,20,30]
z = list(zip(tup1,mylist))
z

[(33, 10), (49, 20), (55, 30)]

In [7]:
type(z)

list

In [8]:
x = zip(tup1,mylist)

In [9]:
type(x)

zip

In [10]:
x

In [11]:
range(0,5)

range(0, 5)

In [12]:
list(range(0,5))

[0, 1, 2, 3, 4]

In [13]:
for t, m in z:
    print(t+m)

43
69
85

In [14]:
for i in range(3):
    print(tup1[i] + mylist[i])

43
69
85

In [15]:
groceries = ["Apples","chips","bread","icecream"]
prices = [2,3,1.2,4.25]

for food in range(4):
    print(groceries[food],"=",prices[food])

Apples = 2
chips = 3
bread = 1.2
icecream = 4.25

In [16]:
zip_shop = list(zip(groceries,prices))
zip_shop

for g,p in zip_shop:
    print(g,"=",p)

Apples = 2
chips = 3
bread = 1.2
icecream = 4.25

In [17]:
num1 = [100,2,90,10];num2 = [12,7,90,50]

zip_num = zip(num1,num2)

for i, j in zip_num:
    if i > j:
        print(i)
    elif i < j:
        print(j)
    else:
        print(i,j)

100
7
90 90
50

In [19]:
for i in range(4):
    if num1[i] > num2[i]:
        print(num1[i])
    elif num1[i] < num2[i]:
        print(num2[i])
    else:
        print(num1[i],num2[i])

100
7
90 90
50

In [23]:
numbers = list(range(10,70,10))
numbers
values = [2,5]
numbers

zip_val = list(zip(numbers,values))

calc = []

In [24]:
zip_val

[(10, 2), (20, 5)]

In [25]:
numbers

[10, 20, 30, 40, 50, 60]

In [28]:
import itertools


from itertools import cycle as cy

zip_val = list(zip(numbers,cy(values)))

zip_val

[(10, 2), (20, 5), (30, 2), (40, 5), (50, 2), (60, 5)]

In [29]:
for n, v in zip_val:
    s = n *v
    calc.append(s)
calc

[20, 100, 60, 200, 100, 300]

In [37]:
val1 = [2]; val2 = [5]


zip_val = list(zip(numbers,cy(val1), cy(val2)))
calc = []


for n, v,z in zip_val:
    s = n *v
    t=  n *z
    calc.append(s)
    calc.append(t)
calc

[20, 50, 40, 100, 60, 150, 80, 200, 100, 250, 120, 300]

In [38]:
len(calc)

12