# DICTIONARIES

    Consists of keys and key values separated by a colon
    Dictionaries, called dict, can contain
    
        Strings and numbers
        tuples
        lists
        sets
        series
        dataframes
        nested dictionaries

In [1]:
d1 = {}

In [2]:
type(d1)

dict

In [3]:
d1["A"] = 10

In [4]:
d1["B"] = 20

In [5]:
d1

{'A': 10, 'B': 20}

In [6]:
n = {1: 100, 2: 200}

In [7]:
n

{1: 100, 2: 200}

In [8]:
type(n)

dict

In [9]:
toys = {"robot": "$25.99", "car" : "$45.95"}

In [10]:
toys

{'robot': '$25.99', 'car': '$45.95'}

In [11]:
d1.update(toys)

In [12]:
d1["A"] = 120

In [13]:
d1

{'A': 120, 'B': 20, 'robot': '$25.99', 'car': '$45.95'}

In [14]:
myList = [10,20]
myList[0] = 120
myList

[120, 20]

In [15]:
toys

{'robot': '$25.99', 'car': '$45.95'}

In [16]:
toys.clear()

In [17]:
toys

{}

In [18]:
myList.clear()

In [19]:
myList

[]

In [20]:
myList.append(200)

In [21]:
myList

[200]

In [22]:
d1.pop("A")

120

In [23]:
d1

{'B': 20, 'robot': '$25.99', 'car': '$45.95'}

In [24]:
d1

{'B': 20, 'robot': '$25.99', 'car': '$45.95'}

In [25]:
d1.values()

dict_values([20, '$25.99', '$45.95'])

In [26]:
#CONVERT INTO LIST OR TUPLE FOR INDEXING
list(d1.values())[2: 4]

['$45.95']

In [27]:
tuple(d1.keys())

('B', 'robot', 'car')

In [28]:
tuple(d1.keys())[2:4]

('car',)

In [29]:
d1.items()

dict_items([('B', 20), ('robot', '$25.99'), ('car', '$45.95')])

In [30]:
list(d1.items())

[('B', 20), ('robot', '$25.99'), ('car', '$45.95')]

In [31]:
list(d1.items())[0]

('B', 20)

In [32]:
menu = [("chips",2.4),("sopu",1.4)]
dict(menu)

{'chips': 2.4, 'sopu': 1.4}

In [33]:
maze = {"k1": d1,
       "k2":[10,20,30],
       "k3": ("tuple!",[1,2,{"k4":["a","b","catch me!"]}])}

In [34]:
maze

{'k1': {'B': 20, 'robot': '$25.99', 'car': '$45.95'},
 'k2': [10, 20, 30],
 'k3': ('tuple!', [1, 2, {'k4': ['a', 'b', 'catch me!']}])}

In [35]:
maze["k3"][1][2]["k4"][2]

'catch me!'