# LISTS EXERCISE

## Task 1: ADD ALL DICTIONARY VALUES

### WORK WITH

`toys = {"robot": "$40.0", "car":"$25","ironman":"$12"}`

### DESIRED OUTPUT

77

### HINTS?

1. Use the values() method
2. Use list
3. Use the built-in Python function eval() to convert a string to a number
4. Use the list slicing with the appropiate index to grab the numbers. Add them together
5. Use the int type

In [12]:
toys = {"robot": "$40.0", "car":"$25","ironman":"$12"}

toys

{'robot': '$40.0', 'car': '$25', 'ironman': '$12'}

In [13]:
toys.values()

dict_values(['$40.0', '$25', '$12'])

In [15]:
list(toys.values())

['$40.0', '$25', '$12']

In [16]:
list(toys.values())[0]

'$40.0'

In [17]:
list(toys.values())[0][1:]

'40.0'

In [18]:
eval(list(toys.values())[0][1:])

40.0

In [19]:
num = eval(list(toys.values())[0][1:]) + eval(list(toys.values())[1][1:]) + eval(list(toys.values())[2][1:])

In [20]:
num

77.0

## Task 2: USE COMPARISON OPERATORS IN A LIST

### WORK WITH

`questions = [10 4,50 50, 90 10, "c" ("a","b","c"), 100 100]`

    != 
    ==
    in

### DESIRED OUTPUT

[True, True, False, True, False]

### HINTS?

1. Use only the three of the operators shown above

In [23]:
#questions = [10  4,50  50, 90  10, "c" ("a","b","c"), 100 100]
questions = [10 != 4,50 == 50, 90 == 10, "c" in ("a","b","c"), 100 != 100]

questions

[True, True, False, True, False]

## Task 3: LEN KEY VALUES WITH COMPARISON OPERATORS

### WORK WITH

`films = {"k1": "blade runner 2049", "k2": "matrix", "k3":"terminator"}`

    <
    >
    len()

### DESIRED OUTPUT

True

### HINTS?

1. Use only the two operators shown above
2. Use the built-in function, len()
3. Use the operators in the same order as the dictionary keys

In [11]:
films = {"k1": "blade runner 2049", "k2": "matrix", "k3":"terminator"}
films

{'k1': 'blade runner 2049', 'k2': 'matrix', 'k3': 'terminator'}

In [25]:
len(films["k1"])> len(films["k2"]) > len(films["k3"])

False

In [26]:
len(films["k1"])> len(films["k2"]) < len(films["k3"])

True

## Task 4: UPDATE DICTIONARY

### WORK WITH

`life_stages = {0: "embryo", 1: "fetus", 2:"baby", 3:"infant", 4: "teen"}`

    
### DESIRED OUTPUT

`{0: "embryo", 1: "fetus", 2:"baby", 3:"infant", 4: "teen", 5: "adult", 6: "big kid!"}`

### HINTS?

1. Create a new dictionary called midlife, with keys 5 and 6, and key values "adult" and "big kid!"
2. Add midlife dictionary to life_stages using one of the dictionary methods

In [28]:
life_stages = {0: "embryo", 1: "fetus", 2:"baby", 3:"infant", 4: "teen"}
life_stages

{0: 'embryo', 1: 'fetus', 2: 'baby', 3: 'infant', 4: 'teen'}

In [30]:
midlife = {5:"adult",6:"big kid!"}
midlife

{5: 'adult', 6: 'big kid!'}

In [31]:
life_stages.update(midlife)
life_stages

{0: 'embryo',
 1: 'fetus',
 2: 'baby',
 3: 'infant',
 4: 'teen',
 5: 'adult',
 6: 'big kid!'}

## Task 5: ADD ALL VALUES FROM LIST

### WORK WITH

`nest1 = [(1,2,3), {"k1": [0,1,300,2,77], "k2":[10,20,30]),["a","500","c"]]`

    sorted()
    eval()

    
### DESIRED OUTPUT

    833.0
    
### HINTS?

1. Add 3,300,30 and 500 together from each of the nested tuples, dictionaries or lists.
2. Use only the two built-in python functions shown above.
3. Use the Python built-in function, sorted for "k1"
4. For the nested dictionary, "k1", index only by-1, not 2.
5. Use the float.

In [1]:
nest1 = [(1,2,3),{"k1":[30,1,300,2,77],"k2":[10,20,30]},["a","500","c"]]

In [2]:
nest1

[(1, 2, 3), {'k1': [30, 1, 300, 2, 77], 'k2': [10, 20, 30]}, ['a', '500', 'c']]

In [3]:
nest1[0][2]

3

In [8]:
nest1[0][2] + k1

303

In [6]:
k1 = sorted(nest1[1]["k1"])[-1]

In [7]:
k1

300

In [9]:
k2 = nest1[1]["k2"][-1]

In [10]:
k2

30

In [11]:
nest1[0][2] + k1 + k2

333

In [12]:
k3 = eval(nest1[2][1])

In [13]:
k3

500

In [14]:
float(nest1[0][2]+k1+k2+k3)

833.0

## Task 5: ADD ALL LIST VALUES INTO A STRING

### WORK WITH

`prices = ["a","b","9","c","d","FOUR","e","f","2.5"]`

`sentence = """The bill for the {}#!/,?? {}#!/ ?? and drink came to {}?? """`
    
### DESIRED OUTPUT

    prices = ["9", "FOUR", "2.5"]
   'The bill for the pizza, chips and drink came to $15.5'
    
### HINTS?

1. Use the format function
2. Use slicing and stride
3. Also use eval, len and str
4. Add all the string numbers from the prices list
5. Use the replace function twice

In [16]:
prices = ["a","b","9","c","d","FOUR","e","f","2.5"]

In [17]:
sentence = """The bill for the {}#!/,?? {}#!/ ?? and drink came to {}?? """

In [18]:
prices[2]

'9'

In [19]:
prices[2::3]

['9', 'FOUR', '2.5']

In [20]:
sentence.format("pizza", "chips", "$")

'The bill for the pizza#!/,?? chips#!/ ?? and drink came to $?? '

In [25]:
sentence.format("pizza","chips","$").replace("??","").replace("#!/","")

'The bill for the pizza, chips  and drink came to $ '

In [23]:
cash = prices[2::3]

p = eval(cash[0])
c = len(cash[1])
d = eval(cash[2])

In [24]:
p,c,d

(9, 4, 2.5)

In [27]:
sentence.format("pizza","chips","$" + str(p+c+d)).replace("??","").replace("#!/","")

'The bill for the pizza, chips  and drink came to $15.5 '